<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page1.css">
</head>

<body>
    <div class="container-main">


        <form class="panel" method="post">

            <input  name="panel_input" class = "panel-input" maxlength="100" placeholder = "{{password}}">
            <p class="tab" ></p>
            <input  name="click" type="submit" value="Отправить" class = "panel-button">

        </form>
    </div>
</body>

</html>